h1{
  font-size: 30px;
  font-weight: 600;
}

.product__description{
  font-size: 24px;
}

.price-container{
  font-size: 24px;
}

.price-item{
  font-size: 24px
   font-weight: bold;
  /* color: rgb(var(--color-foreground)); */
}
 .price-item--regular{
   color: green;
 }

.price__sale{
  font-weight: 600;
}

.price-item--sale{
  color: rgb(31,71,255);
  font-weight: bold;
}

@media screen and (max-width: 749px) {
  .carousel-nav {
    display: none !important;
  }
  
  /* If you're using the thumbnail slider layout */
  .thumbnail-slider {
    display: none !important;
  }
}
.slick-slider{
  max-width: 400px;
  margin: 0 auto;
}
.carousel-main {
  margin: 0;
}

.carousel-nav{
  margin: 0;
}

.carsousel-main{
  margin: 0;
}

.product__info-wrapper{
  padding: 0 !important;
}

.product__title{
  margin: 0;
}

.product__description{
  margin: 0;
}

/* .product__media-wrapper{
  width: unset !important;
  max-width: unset !important;
} */

.grid__item product__media-wrapper{
  width: 100% !important;
}
        

